@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker Project</h1>
    <p class="lead">
        This project sets out to create a Bug Tracking application, allowing users to self manage bugs within their own projects.
        Please find links to documentation and the code behind this project along with my 3 main goals when I started this project:
    </p>
    <ul>
        <li>Build a Software Requirements Specification and follow it to completion.</li>
        <li>Plan the work in managable sprints and set deadlines using Trello.</li>
        <li>Implement MVC architecture & Implement Authentication (Local & oAuth).</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github Project</h2>
        <p>
            The source code for this project has been detailed and documented on Github and can be found by the following link.
        </p>
        <br />
        <p><a class="btn btn-default" href="https://github.com/Wadeyy1/Bug-Tracker">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project SRS</h2>
        <p>For this project I drafted and followed a Software Requirements Specificaton, this allowed me to stay on track and have clear define goals and scope for the project.</p>
        <button type="button" class="btn btn-default" data-target="#MyModal" data-toggle="modal" style="width:30%">View SRS &raquo;</button>
</div>
    <div class="col-md-4">
        <h2>Video Demonstration</h2>
        <p>I have recroded a demonstration of the application in action, displaying its core features for a user.</p>
        <br />
        <br />
        <button class="btn btn-default" onclick="location.href='@Url.Action("PDFView", "Home")'" style="width:30%">View Demo &raquo;</button>
    </div>
</div>

<div class="modal" id="MyModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4>Bug Tracker SRS</h4>
            </div>
            <div class="modal-body">
                <object data="/Files/Bug_Tracker_SRS.pdf" type="application/pdf" style="width:100%;height:70vh;">
                    ;If you are unable to view file, you can download from <a href="/Files/Bug_Tracker_SRS.pdf">;here</a>; or download <a target="_blank" href="http://get.adobe.com/reader/​">;Adobe PDF Reader</a>; to view the file.
                </object>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>