@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker Project</h1>
    <p class="lead">
        This project sets out to create a Bug Tracking application, allowing users to self manage bugs within their own projects.
        Please find links to documentation and the code behind this project along with my 3 main goals when I started this project:
    </p>
    <ul>
        <li>Build a Software Requirements Specification and follow it to completion.</li>
        <li>Plan the work in managable sprints and set deadlines using Trello.</li>
        <li>Implement MVC architecture & Implement Authentication (Local & oAuth).</li>
    </ul>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Github Project</h2>
        <p>
            The source code for this project has been detailed and documented on Github and can be found by the following link.
        </p>
        <br />
        <p><a class="btn btn-default" href="https://github.com/Wadeyy1/Bug-Tracker">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Project SRS</h2>
        <p>For this project I drafted and followed a Software Requirements Specificaton, this allowed me to stay on track and have clear define goals and scope for the project.</p>
        <button class="form-control btn btn-default" id="ClearFilter" name="ClearFilter" onclick="location.href='@Url.Action("PDFView", "Home")'" style="width:30%;">Learn more &raquo;</button>
</div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <br />
        <br />
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>